
<form id="log" action="/login" method="post">
    <input type="text" name="username">
    <label for="username"> Username </label>

    <input type="text"  name="password">
    <label for="password" name="password"> Password </label>

    <input type="submit" name="Login">
  </form>

    <form action="/registerNew" method="post">
    
    <input type="submit"  name="registerBtn" value="Sign Up">
    <label for="registerBtn"> Create an Account </label>

  </form>
  <h2>{{message}}</h2>


  
